[Unit]
Description = Configure this machine to act as a NAT instance. fck-nat.
Wants = network-online.target
After = network-online.target

[Service]
ExecStart = /opt/fck-nat/fck-nat.sh
Type = oneshot

[Install]
WantedBy = multi-user.target